body {
    width: 100vw;
  height: 100vh;
  /*overflow: hidden;  Evita que apareçam barras de rolagem */
  background-image: url(../imgs/Pagina\ de\ login.svg);
    background-size: cover;

}


.logo {
    margin-top: 60px;
    width: 20%;

}

.titulos {
    margin-bottom: 15px;
    text-align: center;
}

.titulo-grande {
    

    font-size: 35px;
    color: var(--branco);
}

.titulo-pequeno {
    font-size: 18px;
    font-weight: 100;

    color: var(--branco);

    margin-top: 15px;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;

    gap: 40px;
}

/* CAMPOS */

.campo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, 
.botao-entrar,
.botao-google,
.botao-apple
{
    width: 100%;
    height: 50px;

    

    border-radius: 10px;
}

.campo label {

    

    color: var(--branco);
    font-size: 1em;
    font-weight: 700;
}

.campo input {
    border: none;
    outline: none;

    background-color: var(--preto);
    color: var(--branco);

    padding: 0 20px;

    font-size: 1em;
}

.campo input::placeholder {
    color: var(--branco);
    font-style: italic;
}

.campo-senha {
    position: relative;
    
}

.botao-olho {
    position: absolute;
    
    right: 20px;
    top: 50%;

    transform: translateY(-50%);
    
    background: transparent;
    border: none;

    cursor: pointer;

    color: #00000050;
}

/* BOTAO ENTRAR  */

.botao-entrar {
    
    border: none;
    background-color: var(--azul-escuro);
    color: var(--branco);

    font-size: 1.2em;
    font-weight: 700;

    text-transform: uppercase;
    transition: 0.4s;
    box-shadow: 0 4px 4px rgba(15, 17, 161, 0.25);
}


.botao-entrar:hover {
    cursor: pointer;
    background-color: #1543db;

    transform: translateY(-3px);
}

/* BOTAO GOOGLE */

.botao-google,
.botao-apple
{
    border: none;
    background-color: var(--branco);

    font-size: 1.2em;

    display: flex;
    justify-content: center;

    align-items: center;

    gap: 20px;

    transition: transform 0.2s;

    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.botao-google:hover {
    cursor: pointer;
    transform: translateY(-3px);
}

.botao-google img {
    width: 30px;
    height: 30px;
}

form {

    display: flex;

    flex-direction: column;
    background: rgba(30, 65, 120, 0.45); 
  backdrop-filter: blur(12px);


  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 16px;

  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

  width: 30%;
  padding: 32px 24px;

  gap: 30px;
}

.botao-apple img {
    width: 30px;
    height: 30px;
}

.botao-apple:hover {
    cursor: pointer;
    transform: translateY(-3px);
}

.ou {
    color: var(--branco);
    margin-top: 5px;
    font-size: 1.8em;

    margin-bottom: 20px;
}


.opcoes {
    display: flex;
    gap: 15px;

    flex-direction: column;
    align-items: center;
}

.iconesgoogleapple {
    display: flex;
    gap: 20px;
    
}

.criar-conta {
    display: flex;
    gap: 8px;
    color: var(--branco);

    font-size: 1.2em;
}

.criar-conta a {
    color: var(--azul-claro);
    font-size: 1.2em;
}