header {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    height: 50px;
    padding: 10px 30px;
    align-items: center;
}

.btns {
    display: flex;
    gap: 20px;
}

.btns a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.btns a:nth-child(1) {
    background-color: #5E92DB;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
}

.btns a:nth-child(2) {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 30px;
}

.btns a:nth-child(3) {
    background-color: #1663CE;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
}

.inicio {
    background-color: #000;
    background-image: url(../imgs/banner-principal.png);
    background-repeat: no-repeat;
    background-position: right;
    color: white;
    height: 70vh;
    padding: 20px 35px;
}

.inicio p {
    font-size: 2.5em;
    width: 40%;
    margin-bottom: 5%;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    background-color: #1663CE;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    text-transform: uppercase;
}

.nav a:nth-child(1) {
    background-color: transparent;
    border: 1px solid white;
}

.meio {
    background-image: url(../imgs/imagem-de-fundo-1.jpg);
    background-repeat: no-repeat;
    height: 80vh;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20% 10%;
}

.meio h2,
.meio p {
    font-size: 2em;
}

.container-vip {
    background-image: url(../imgs/imagem-de-fundo-2.svg);
    background-repeat: no-repeat;
    height: 90vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.conteudo-vip {
    width: 55%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.conteudo-vip .texto {
    font-size: 1.2em;
    margin-bottom: 0;
}

.conteudo-vip .subtitulo {
    font-size: 1em;
}

.beneficios-vip {
    list-style: none;
}

.beneficios-vip li {
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.beneficios-vip li::before {
    content: "★";
    margin-right: 6px;
    font-size: 1em;
}

.container-botao {
    margin-top: 10px;
}

.btn-planos {
    display: flex;
    padding: 8px 32px;
    background-color: #5E92DB;
    color: white;
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
    border-radius: 5px;
    letter-spacing: 1px;
}

.btn-planos:hover {
    transform: translateY(-2px);
    filter: brightness(1.15);
}